:root {
  --baclground-color: #ffffff;
  --logo-color: #2e2f42;
  --list-items-color: #2e2f42;
  --logo-web-locor: #4d5ae5;
  --adress-color: #434455;
  --footer-info-color: #f4f4fd;
  --btn-border: 1px solid #e7e9fc;
  --icon-color: #8e8f99;
  --checkbox-checked: #f4f4fd;
  --checkbox-background: #404bbf;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--baclground-color);
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-locor);
  margin-right: 76px;
  padding: 24px 0;
}

.link {
  text-decoration: none;
}

.logo-span {
  color: var(--logo-color);
}

.list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--list-items-color);
  /* color: #404bbf; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .current {
  color: #404bbf;
}

.current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.nav-list:hover {
  color: #404bbf;
}

.nav-list:focus {
  color: #404bbf;
}

.adress {
  display: flex;
  font-style: normal;
  padding: 24px 0;
  align-items: center;
  margin-left: auto;
}

.adress-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list:hover {
  color: #404bbf;
}

.adress-list:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  padding: 28px 0;
}

.header {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* section solution */

.section-solution {
  background-color: var(--logo-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-solution-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.section-solution-btn {
  background-color: var(--logo-web-locor);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 48px auto 0 auto;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-solution-btn:hover {
  background-color: #404bbf;
}

.section-solution-btn:focus {
  background-color: #404bbf;
}

/* modal */

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-form-user-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  position: relative;
}

.modal-form-item {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-item:focus {
  border-color: #4d5ae5;
}

.modal-form-item:focus + .modal-svg-icon {
  fill: #4d5ae5;
}

.modal-svg-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-comment-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus,
.modal-form-textarea:hover {
  border-color: #4d5ae5;
}

.modal-checkbox-container {
  margin-bottom: 24px;
}

.modal-checkbox-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
}

.checkbox-icon-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-item:checked + .modal-checkbox-privacy span {
  fill: var(--checkbox-checked);
  background-color: var(--checkbox-background);
  border: none;
}

.privacy-policy {
  color: var(--logo-web-locor);
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 24px auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

/* section desc */

.desc {
  padding: 120px 0;
}

.desc .container .list {
  gap: 24px;
}

.desc-list-item {
  width: calc((100% - 72px) / 4);
}

.list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--list-items-color);
  margin-bottom: 8px;
}

.list-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--list-items-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* work-desc section */

.work-desc {
  padding-bottom: 120px;
}

.section-title {
  margin-bottom: 72px;
}

.work-desc .container .list {
  gap: 24px;
}
.list-item {
  width: calc((100% - 48px) / 3);
}

/* team secion */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-sectin-list {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--list-items-color);
  margin-bottom: 72px;
}

.team-section .container .list {
  gap: 24px;
}

.team-section .list-desc {
  text-align: center;
}

.team-sectin-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-desc {
  padding: 32px 0;
}

.team-section .list-title {
  text-align: center;
}

.list-desc {
  margin-bottom: 8px;
}

.social-network-icon {
  width: 232px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.social-network-list {
  display: flex;
  justify-content: center;
}

.social-network-item {
  width: 40px;
  height: 40px;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network {
  fill: #f4f4fd;
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: #404bbf;
}

/* section customers */

.customers {
  padding: 120px 0 120px 0;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers .customers-list-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  color: #404bbf;
  border-color: #404bbf;
}

.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.customers-icon {
  fill: currentColor;
}

/* footer */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--logo-color);
  padding: 100px 0;
}

.footer-logo {
  margin-right: 120px;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-info {
  line-height: 1.5;
  color: var(--footer-info-color);
  letter-spacing: 0.02em;
}

.footer .container .logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 16px;
}

.footer-info {
  max-width: 264px;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-locor);
  padding: 24px 0;
}

.footer-social-media {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--baclground-color);
  margin-bottom: 16px;
}

.footer .social-network-list {
  gap: 16px;
}

.footer .social-network-link:hover,
.footer .social-network-link:focus {
  background-color: #31d0aa;
}

/* footer form */

.footer-form-container {
  margin-left: 80px;
}

.form-name {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-item {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-item::placeholder {
  color: #ffffff;
}

.form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-tg-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* portfolio */

.list-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-web-locor);
  background-color: var(--footer-info-color);
  cursor: pointer;
  border: var(--btn-border);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--list-items-color);
}

.filter-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--adress-color);
}

/* portfoli section filter */

.section-filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-filter .list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.section-filter .gap-list {
  margin-bottom: 72px;
}

.section-filter .container .row-gap {
  row-gap: 48px;
  column-gap: 24px;
}

.card-filter {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.filter-desc {
  margin-bottom: 8px;
}

.link-items {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-items:hover,
.link-items:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-items:hover p {
  transform: translateY(0%);
}
.link-items:focus p {
  transform: translateY(0%);
}

.filter-overlay-desc {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-info-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-overlay {
  position: relative;
  overflow: hidden;
}
